html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Ini batas dari Reset CSS */

body {
    font: 16px/28px arial, verdana, sans-serif;
    background-image: url(bg3.jpg);
    color: rgb(255, 255, 255);
}

.container {
    width: 800px;
    margin: auto;
    background-color: rgb(80, 81, 83);
    box-sizing: border-box;
}

.header {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 3px;
}

.header .judul {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

.header ul li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 7px;
}

.header ul li a {
    color: white;
    text-decoration: none;
    padding: 3px;
}

.header a:hover {
    background-color: turquoise;
    color: black;
}

.hero {
    height: 250px;
    background-image: url(aan.png);
    border-top: solid 7px darkred;
    border-bottom: solid 7px darkred;
}

.content {
    padding: 20px;
}
.penulis a {
    color: rgb(245, 174, 20);
    text-decoration: none;
}

.content a:hover {
    background-color: turquoise;
    color: black;
}

.content h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.penulis {
    font-size: 11px;
    margin-top: -3px;
    margin-bottom: 30px;
}

.isiartikel p {
    margin-bottom: 10px;
    font-size: 15px;
    text-align: justify;
    text-indent: 50px;
}

.footer {
    background-color: white;
    border-top: solid 7px darkred;
    padding: 5px;
}

.footer .copyright {
    color: black;
    font-size: 12px;
    text-align: center;
    height: auto; 
}