.navigasi li {
	display: inline;
}

.header {
	background-color: yellow;
}

.navigasi {
	background-color: lawngreen;
}

.navigasi a {
	width: 100px;
	height: 30px;
	font-size: 20px;
	display: inline-block;
	text-align: center;
}

.main {
	text-align: justify;
	font-family: arial;
	font-size: 15px;
	background-color: darkcyan;
	width: 600px;
}

.main img {
	width: 100px;
}